/*
 * You find the variables set by Bootstrap in the file:
 * /node_modules/bootstrap/scss/_variables.scss
 */
 
 $teal:    #20c997;

 $mygreen: #6cb362;

 $link-color:                #ffffff;

 $list-group-active-bg:              #6cb362;