@import "variables";
@import "~bootstrap/scss/bootstrap";



#about {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.contact-row {
  margin-bottom: 1rem;
}

.card-text {
  font-size: small;
}

#skills-and-tools {
  margin-bottom: 3rem;
}

#recent-work {
  margin-bottom: 3rem; 
}

.man-exp-row {
  margin-bottom: 3rem;
}

.man-exp-highlight {   
  font-style: italic;
}

#management-experience {
  margin-bottom: 3rem;
}

ul {
  padding-left: 2rem;
}

@media screen and (max-width: 576px) {
  .man-exp-text {
    font-size: small;
  }
}

ul.man-exp-highlight {
  padding: 0;
}